@font-face{
	font-family: biome;
	src: url('assets/biome.ttf');
}
*{
	font-family: biome;
	color: #FFF;
}
body
{
	margin: 0;
	background: #000;
}
button
{
	color: #000;
}

#here-lies-the-model
{
	position: fixed;
	top: 0;	left: 0;
}
header
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	width: 100%; height: 100px;
	z-index: 1;
	background: #FFFFFF11;
	backdrop-filter: blur(50px);
}
header h1
{
	margin: 35px;
}
.overlay
{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 80%; height: 60%;
	z-index: 100;
	border-radius: 40px;
	background: #ece6e611;
	backdrop-filter: blur(50px);
}
#gltf-file
{
	position: fixed;
	top: 0; left: 0;
	width: 100%; height: 100%;
	opacity: 0;
	cursor: pointer;
}

#upload-button
{
	margin: 20px;
	background: none;
	opacity: 0.4;
	border: none;
	cursor: pointer;
}
#upload-button:hover
{
	opacity: 1;
}

#close-button
{
	float: right;
	position: fixed;
	top: 20px; right: 25px;
	width: 20px; height: 20px;
	border: none;
	border-radius: 50%;
	color: #000;
	background: #FFFFFFBB;
}
#close-button:hover
{
	background: #FFFFFFFF;
}

:root
{
  --tp-base-background-color: transparent;
}
.tp-dfwv
{
	margin: 130px 5% 0 0;
	max-height: 75%;
	width: 400px;
	overflow-y: auto;
	z-index: 2;
	backdrop-filter: blur(5px);
}
.tp-dfwv::-webkit-scrollbar
{
	width: 2px;
}
.tp-dfwv::-webkit-scrollbar-track
{
	background: none;
}
.tp-dfwv::-webkit-scrollbar-thumb
{
	background: #FFFFFF77;
	border-radius: 60px;
}
.tp-dfwv::-webkit-scrollbar-thumb:hover
{
	background: #FFFFFFFF;
	border-radius: 60px;
}

.tp-lblv_l, .tp-fldv_t, .tp-btnv_t
{
	font-size: 14px;
}
.tp-lblv_l
{
	padding: 2px;
}
.tp-btnv_b *
{
	background: #FFFFFF11;
	color: #000;
}
.tp-btnv_b:hover
{
	background: #FFFFFFFF;
}